<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Transform to AMPL Model"
            categoryId="net.sf.parteg.commandCathegory"
            id="org.xilaew.atg.model.input.activity.commands.Activity2AMPL">
      </command>
      <command
            categoryId="net.sf.parteg.commandCathegory"
            id="org.xilaew.atg.model.input.activity.commands.Activity2BoostUnitTest"
            name="Generate Boost Unit Tests from Activity">
      </command>
      <command
            categoryId="net.sf.parteg.commandCathegory"
            id="org.xilaew.atg.model.input.activity.commands.Experiment"
            name="do Runtime experiment">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.xilaew.atg.model.input.activity.commands.Activity2AMPL"
            class="org.xilaew.atg.model.input.activity.handlers.AMPLModelCreationHandler">
         <enabledWhen>
            <reference
                  definitionId="org.xilaew.atg.handlerEnabled">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.xilaew.atg.model.input.activity.handlers.CPPTestGenerationHandler"
            commandId="org.xilaew.atg.model.input.activity.commands.Activity2BoostUnitTest">
         <enabledWhen>
            <reference
                  definitionId="org.xilaew.atg.handlerEnabled">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.xilaew.atg.model.input.activity.handlers.Experiment"
            commandId="org.xilaew.atg.model.input.activity.commands.Experiment">
         <enabledWhen>
            <reference
                  definitionId="org.xilaew.atg.handlerEnabled">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:net.sf.parteg.menue">
         <command
               commandId="org.xilaew.atg.model.input.activity.commands.Activity2AMPL"
               icon="icons/atg.gif"
               id="org.xilaew.atg.model.input.activity.menus.Activity2AMPLCommand"
               mnemonic="S">
         </command>
         <command
               commandId="org.xilaew.atg.model.input.activity.commands.Activity2BoostUnitTest"
               icon="icons/atg.gif"
               id="org.xilaew.atg.model.input.activity.menus.Activity2BoostUnitTestCommand"
               mnemonic="S">
         </command>
         <command
               commandId="org.xilaew.atg.model.input.activity.commands.Experiment"
               icon="icons/atg.gif"
               id="org.xilaew.atg.model.input.activity.menus.ExperimentCommand"
               mnemonic="S">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.xilaew.atg.handlerEnabled">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <or>
                  <instanceof
                        value="org.eclipse.uml2.uml.Activity">
                  </instanceof>
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="uml">
                     </test>
                  </adapt>
               </or>
            </iterate>
         </with>
      </definition>
   </extension>

</plugin>
