<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="net.sf.parteg.commandCathegory"
            name="ParTeG">
      </category>
      <command
            categoryId="net.sf.parteg.commandCathegory"
            id="net.sf.parteg.testGenerationCommand"
            name="Test Generation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.sf.parteg.input.statemachine.handlers.CreateTestHandler"
            commandId="net.sf.parteg.testGenerationCommand">
         <enabledWhen>
            <reference
                  definitionId="net.sf.parteg.handlerEnabled">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               icon="icons/parteg_3_16.gif"
               id="net.sf.parteg.menue"
               label="ParTeG"
               mnemonic="M">
            <command
                  commandId="net.sf.parteg.testGenerationCommand"
                  id="net.sf.parteg.input.statemachine.menus.sampleCommand"
                  label="Test Generation"
                  mnemonic="S"
                  tooltip="Creates test cases to this state machine">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.sf.parteg.menuVisible">
               </reference>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="net.sf.parteg.input.statemachine.toolbars.ParTeGToolbar"
               label="ParTeG Toolbar">
            <command
                  commandId="net.sf.parteg.testGenerationCommand"
                  icon="icons/parteg_3_16.gif"
                  id="net.sf.parteg.input.statemachine.toolbars.sampleCommand"
                  tooltip="Creates test cases to this state machine">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.sf.parteg.menuVisible">
               </reference>
            </visibleWhen>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <separator
               name="net.sf.parteg.input.statemachine.separator1">
         </separator>
         <menu
               icon="icons/parteg_3_16.gif"
               id="net.sf.parteg.popupmenue"
               label="ParTeG">
            <command
                  commandId="net.sf.parteg.testGenerationCommand"
                  id="net.sf.parteg.menue.testGeneration"
                  label="Test Generation"
                  style="push"
                  tooltip="Creates test cases to this state machine">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.sf.parteg.handlerEnabled">
               </reference>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="net.sf.parteg.handlerEnabled">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <or>
                  <instanceof
                        value="org.eclipse.uml2.uml.StateMachine">
                  </instanceof>
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="uml">
                     </test>
                  </adapt>
               </or>
            </iterate>
         </with>
      </definition>
      <definition
            id="net.sf.parteg.menuVisible">
         <with
               variable="activeEditorId">
            <equals
                  value="org.eclipse.uml2.uml.editor.presentation.UMLEditorID">
            </equals>
         </with>
      </definition>
   </extension>
   
</plugin>
