/document.pdf
/document.synctex.gz
/tmp
/documen.synctex.gz
/document.aux
/document.log
/document.nav
/document.out
/document.snm
/document.toc
/document.vrb
/TAP2014_Presentation.pdf
/TAP2014_Presentation.synctex.gz
