/document.pdf
/document.synctex.gz
/tmp
/splncs_srt.bst
/splncs03.bst
/llncs.dem
/llncs.doc
/llncs.dvi
/eijkel2.eps
/llncs.ind
/subjidx.ind
/llncsdoc.pdf
/LNCS-Springer_Copyright_Form.pdf
/typeinst.pdf
/aliascnt.sty
/llncsdoc.sty
/remreset.sty
/sprmindx.sty
/typeinst.tex
/history.txt
/readme.txt
/documentT1.pdf
/.settings
