<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.xilaew.atg.model.tests"
            class="org.xilaew.atg.model.tests.TestsPackage"
            genModel="model/Tests.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="tests"
            class="org.xilaew.atg.model.tests.util.TestsResourceFactoryImpl"/>
   </extension>



   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ActivityTestCaseGraph -->
      <package
            uri="http://org.xilaew.atg.model.activityTestCaseGraph"
            class="org.xilaew.atg.model.activityTestCaseGraph.ActivityTestCaseGraphPackage"
            genModel="model/ActivityTestCaseGraph.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated ActivityTestCaseGraph -->
      <parser
            type="activitytestcasegraph"
            class="org.xilaew.atg.model.activityTestCaseGraph.util.ActivityTestCaseGraphResourceFactoryImpl"/>
   </extension>
</plugin>
