<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.eclipse.uml2.import.artisan.category"
            name="Artisan Studios">
      </category>
      <wizard
            category="org.eclipse.uml2.import.artisan.category"
            class="org.eclipse.uml2.conversion.artisan.importWizards.ImportWizard"
            icon="icons/artisan.gif"
            id="org.eclipse.uml2.import.artisan.wizard"
            name="Artisan Studio XMI Import">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.content_parser">
      <parser
            class="org.eclipse.uml2.uml.internal.resource.XMI2UMLResourceFactoryImpl"
            contentTypeIdentifier="http://schema.omg.org/spec/XMI/2.1">
      </parser>
   </extension>

</plugin>
